@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
@layer components {
  .gradient {
    @apply bg-gradient-to-l from-primary to-foreground dark:from-primary dark:to-background;
  }
  .transition-class {
    @apply transition-all duration-300 ease-in-out;
  }
  .custom-shadow {
    box-shadow: 0 0 20px 0 hsl(var(--primary) / 0.8);
  }
  .bg-hover {
    @apply bg-muted transition-all duration-300 ease-in-out;
  }
}
body {
  min-height: 100svh;
}
.hide-scrollbar::-webkit-scrollbar,
.hide-scrollbar *::-webkit-scrollbar {
  display: none;
}
.show-scrollbar::-webkit-scrollbar,
.show-scrollbar *::-webkit-scrollbar {
  display: block;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll-opacity-0::-webkit-scrollbar-thumb,
.scroll-opacity-0::-webkit-scrollbar-track,
.scroll-opacity-0 *::-webkit-scrollbar-thumb,
.scroll-opacity-0 *::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.8);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

::-webkit-scrollbar-track {
  background: transparent;
}
.hero {
  background-image: url('/imgs/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--foreground) / 0.7);
  z-index: 1;
}
.img-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, hsl(var(--accent-foreground)), transparent);
  border-radius: var(--radius);
  z-index: 1;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    90deg,
    hsl(var(--primary)),
    hsl(var(--foreground))
  );
  background-size: 500% 500%;
  animation: gradient 4s ease infinite;
  -webkit-animation: gradient 4s ease infinite;
}

@media screen and (max-width: 768px) {
  #main::-webkit-scrollbar {
    display: none;
  }
}
